@model RandomTemplate

<form asp-controller="Home" asp-action="DisplayMadlib" method="post">
    <div class="mb-3">
        <label asp-for="NounOne"></label>
        <input asp-for="NounOne" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="NounOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NounTwo"></label>
        <input asp-for="NounTwo" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="NounTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NounThree"></label>
        <input asp-for="NounThree" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="NounThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NounFour"></label>
        <input asp-for="NounFour" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="NounFour" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NounFive"></label>
        <input asp-for="NounFive" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="NounFive" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdjectiveOne"></label>
        <input asp-for="AdjectiveOne" class="form-control" placeholder="Enter an adjective" />
        <span asp-validation-for="AdjectiveOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdjectiveTwo"></label>
        <input asp-for="AdjectiveTwo" class="form-control" placeholder="Enter an adjective" />
        <span asp-validation-for="AdjectiveTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdjectiveThree"></label>
        <input asp-for="AdjectiveThree" class="form-control" placeholder="Enter an adjective" />
        <span asp-validation-for="AdjectiveThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdjectiveFour"></label>
        <input asp-for="AdjectiveFour" class="form-control" placeholder="Enter an adjective" />
        <span asp-validation-for="AdjectiveFour" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdjectiveFive"></label>
        <input asp-for="AdjectiveFive" class="form-control" placeholder="Enter an adjective" />
        <span asp-validation-for="AdjectiveFive" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbOne"></label>
        <input asp-for="VerbOne" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbTwo"></label>
        <input asp-for="VerbTwo" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbThree"></label>
        <input asp-for="VerbThree" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbFour"></label>
        <input asp-for="VerbFour" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbFour" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbFive"></label>
        <input asp-for="VerbFive" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbFive" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbSix"></label>
        <input asp-for="VerbSix" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbSix" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbSeven"></label>
        <input asp-for="VerbSeven" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbSeven" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdverbOne"></label>
        <input asp-for="AdverbOne" class="form-control" placeholder="Enter an adverb" />
        <span asp-validation-for="AdverbOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdverbTwo"></label>
        <input asp-for="AdverbTwo" class="form-control" placeholder="Enter an adverb" />
        <span asp-validation-for="AdverbTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdverbThree"></label>
        <input asp-for="AdverbThree" class="form-control" placeholder="Enter an adverb" />
        <span asp-validation-for="AdverbThree" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="AdverbFour"></label>
        <input asp-for="AdverbFour" class="form-control" placeholder="Enter an adverb" />
        <span asp-validation-for="AdverbFour" class="text-danger"></span>
    </div>
</form>