@{
    ViewData["Title"] = "Form Page";
}

<form method="post">
    <div class="border p-3 mt-4">
        @*___MADLIB FORM HEADER___*@
        <div class="row pb-2">
            <h2 class="text-primary">Create MadLib</h2>
            <hr />
            <br />
            <div asp-validation-summary="All" class="text-danger"></div>
        </div>

        @*___GENRE SELECTOR / DROPDOWN___*@
        <div class="mb-4">
            <label>Select a Genre</label>
            <select id="genreSelector" class="form-select">
                <option selected>Random</option>
                <option value="1">Adventure</option>
                <option value="2">Comedy</option>
                <option value="3">Horror</option>
                <option value="4">Romance</option>
            </select>
        </div>

        @*___PARTIAL VIEWS / CONTENT OF FORM PAGE___*@
        @*<partial name="_RandomForm" />*@
        @*<partial name="_AdventureForm" />*@
        @*<partial name="_ComedyForm" />*@
        @*<partial name="_HorrorForm" />*@
        @*<partial name="_RomanceForm" />*@

        <div class="mb-2">
            <button type="submit" class="btn btn-primary" style="width: 150px">Create</button>
        </div>
    </div>
</form>