@model AdventureTemplate

<form asp-controller="Madlib" asp-action="DisplayMadlib" method="post">
    <div class="mb-3">
        <label asp-for="MainProtagonist"></label>
        <input asp-for="MainProtagonist" class="form-control" placeholder="Enter a name" />
        <span asp-validation-for="MainProtagonist" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Antagonist"></label>
        <input asp-for="Antagonist" class="form-control" placeholder="Enter a name" />
        <span asp-validation-for="Antagonist" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CreatureOne"></label>
        <input asp-for="CreatureOne" class="form-control" placeholder="Enter an animal/creature" />
        <span asp-validation-for="CreatureOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="CreatureTwo"></label>
        <input asp-for="CreatureTwo" class="form-control" placeholder="Enter an animal/creature" />
        <span asp-validation-for="CreatureTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AnythingWord"></label>
        <input asp-for="AnythingWord" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="AnythingWord" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Weapon"></label>
        <input asp-for="Weapon" class="form-control" placeholder="Enter a type of weapon" />
        <span asp-validation-for="Weapon" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PowerOne"></label>
        <input asp-for="PowerOne" class="form-control" placeholder="Enter a super power" />
        <span asp-validation-for="PowerOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PowerTwo"></label>
        <input asp-for="PowerTwo" class="form-control" placeholder="Enter a super power" />
        <span asp-validation-for="PowerTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="PowerThree"></label>
        <input asp-for="PowerThree" class="form-control" placeholder="Enter a super power" />
        <span asp-validation-for="PowerThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Weakness"></label>
        <input asp-for="Weakness" class="form-control" placeholder="Enter a body part" />
        <span asp-validation-for="Weakness" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ActionOne"></label>
        <input asp-for="ActionOne" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="ActionOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ActionTwo"></label>
        <input asp-for="ActionTwo" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="ActionTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ActionThree"></label>
        <input asp-for="ActionThree" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="ActionThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ActionFour"></label>
        <input asp-for="ActionFour" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="ActionFour" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="ActionFive"></label>
        <input asp-for="ActionFive" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="ActionFive" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdverbOne"></label>
        <input asp-for="AdverbOne" class="form-control" placeholder="Enter an adverb" />
        <span asp-validation-for="AdverbOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdverbTwo"></label>
        <input asp-for="AdverbTwo" class="form-control" placeholder="Enter an adverb" />
        <span asp-validation-for="AdverbTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdverbThree"></label>
        <input asp-for="AdverbThree" class="form-control" placeholder="Enter an adverb" />
        <span asp-validation-for="AdverbThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LocationOne"></label>
        <input asp-for="LocationOne" class="form-control" placeholder="Enter a place" />
        <span asp-validation-for="LocationOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LocationTwo"></label>
        <input asp-for="LocationTwo" class="form-control" placeholder="Enter a place" />
        <span asp-validation-for="LocationTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LocationThree"></label>
        <input asp-for="LocationThree" class="form-control" placeholder="Enter a place" />
        <span asp-validation-for="LocationThree" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="LocationFour"></label>
        <input asp-for="LocationFour" class="form-control" placeholder="Enter a place" />
        <span asp-validation-for="LocationFour" class="text-danger"></span>
    </div>
</form>