@model ComedyTemplate

<form asp-controller="Madlib" asp-action="DisplayMadlib" method="post">
    <div class="mb-3">
        <label asp-for="NameOne"></label>
        <input asp-for="NameOne" class="form-control" placeholder="Enter a name" />
        <span asp-validation-for="NameOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NameTwo"></label>
        <input asp-for="NameTwo" class="form-control" placeholder="Enter a name" />
        <span asp-validation-for="NameTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NameThree"></label>
        <input asp-for="NameThree" class="form-control" placeholder="Enter a name" />
        <span asp-validation-for="NameThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="NameFour"></label>
        <input asp-for="NameFour" class="form-control" placeholder="Enter a name" />
        <span asp-validation-for="NameFour" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LocationOne"></label>
        <input asp-for="LocationOne" class="form-control" placeholder="Enter a place" />
        <span asp-validation-for="LocationOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LocationTwo"></label>
        <input asp-for="LocationTwo" class="form-control" placeholder="Enter a place" />
        <span asp-validation-for="LocationTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LocationThree"></label>
        <input asp-for="LocationThree" class="form-control" placeholder="Enter a place" />
        <span asp-validation-for="LocationThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="LocationFour"></label>
        <input asp-for="LocationFour" class="form-control" placeholder="Enter a place" />
        <span asp-validation-for="LocationFour" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdjectiveOne"></label>
        <input asp-for="AdjectiveOne" class="form-control" placeholder="Enter an adjective" />
        <span asp-validation-for="AdjectiveOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdjectiveTwo"></label>
        <input asp-for="AdjectiveTwo" class="form-control" placeholder="Enter an adjective" />
        <span asp-validation-for="AdjectiveTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdjectiveThree"></label>
        <input asp-for="AdjectiveThree" class="form-control" placeholder="Enter an adjective" />
        <span asp-validation-for="AdjectiveThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdjectiveFour"></label>
        <input asp-for="AdjectiveFour" class="form-control" placeholder="Enter an adjective" />
        <span asp-validation-for="AdjectiveFour" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbOne"></label>
        <input asp-for="VerbOne" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbTwo"></label>
        <input asp-for="VerbTwo" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbThree"></label>
        <input asp-for="VerbThree" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbThree" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="VerbFour"></label>
        <input asp-for="VerbFour" class="form-control" placeholder="Enter a verb" />
        <span asp-validation-for="VerbFour" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdverbOne"></label>
        <input asp-for="AdverbOne" class="form-control" placeholder="Enter an adverb" />
        <span asp-validation-for="AdverbOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AdverbTwo"></label>
        <input asp-for="AdverbTwo" class="form-control" placeholder="Enter an adverb" />
        <span asp-validation-for="AdverbTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AnythingOne"></label>
        <input asp-for="AnythingOne" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="AnythingOne" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AnythingTwo"></label>
        <input asp-for="AnythingTwo" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="AnythingTwo" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="AnythingThree"></label>
        <input asp-for="AnythingThree" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="AnythingThree" class="text-danger"></span>
    </div>

    <div class="mb-4">
        <label asp-for="AnythingFour"></label>
        <input asp-for="AnythingFour" class="form-control" placeholder="Enter a noun" />
        <span asp-validation-for="AnythingFour" class="text-danger"></span>
    </div>
</form>