@model Madlib

<div class="card-body bg-opacity-75 card text-white bg-secondary mb-3">
    <h4 class="card-title">@Model.Title</h4>
    <table class="table">
        <tr>
            <td>Genre</td>
            <td>@Model.Genre</td>
        </tr>
        <tr>
            <td>Date</td>
            <td>@Model.DatePublish</td>
        </tr>
    </table>
</div>